<div class="container" style="width: auto">
<footer class="footer">
  <p>The perfect website to store and create a database of your favourite library books.</p>
  <p>Designed by Shourya Sharma.</p>
</footer>
</div>