// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');
$font: 'IBM Plex Serif', serif;
$color: seashell;

@mixin background-tile {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 1.5em 1.25em;
}

p {
  font: $font;
}
text {
  font-family: $font
}
body {margin:25px;}
div.polaroid {
  width: 50%;
  height: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 0px;
}

.container1 {
  position: relative;
  width: 50%;
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #333;
  overflow: hidden;
  width: auto;
  height:0;
  transition: .5s ease;
}
.container1:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 8px;
  font-family: $font;
  position: absolute;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.btn-custom {
  color: #333;
  background-color: #fff;
  border: 1px solid #222;
  padding: 3px 15px;
  border-radius: 5px;
  font-family: $font, sans-serif;
  &:hover {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    transition: 0.5s;
  }
}

.links {

  .btn-custom {
    padding: 3px 10px;
    font-weight: 300;
  }

}

.book-links {

  .btn-custom {
    padding: 3px 10px;
    font-weight: 300;
    margin-top: 40px;
  }

}

.book {
  height: 350px;
  width: 250px;
  margin-bottom: 40px;
  @include background-tile;
}

.book-show {
  height: 475px;
  width: 325px;
  @include background-tile;
}

.book-info {
  @include background-tile;

  .book-title {
    margin-top: 0;
    font-size: 2em;
  }

  .avg-rating {
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .number-of-reviews {
    font-size: 0.85em;
    font-style: italic;
  }

  .book-author {

    margin-top: 10px;
    margin-bottom: 10px;
    span {
      font-size: 0.80em;
    }
  }

  .book-desc {
    font-size: 1.05em;
    line-height: 1.5;
    margin-bottom: 15px;
    margin-top: 15px;
  }

}


/* current-category styles */

.current-category {
  margin-bottom: 40px;
}


/* Reviews styles */

.reviews {

  @include background-tile;
  margin-top: 40px;

  h1 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 2em;
  }

  .review {
    border-bottom: 1px solid gainsboro;
    margin-bottom: 15px;
    padding-bottom: 10px;

    .review-comment {
      font-size: 1.05em;
      line-height: 1.5;
    }

  }

  .new-review {
    padding-top: 8px;
  }

}

/* New Book Form styles */

.new-book-form {
  @include background-tile;

  h1 {
    margin-top: 0;
  }

  #category_id {
    margin-bottom: 10px;
  }

  #book_book_img {
    margin-bottom: 10px;
  }

}


/* Edit Book Form styles */

.edit-book-form {

  @include background-tile;

  h1 {
    margin-top: 0;
  }

  #book_category_id {
    margin-bottom: 10px;
  }

  #book_book_img {
    margin-bottom: 10px;
  }

}

/* New/Edit review form styles */

.new-review-form, .edit-review-form {
  @include background-tile;

  h1 {
    margin-top: 0;
  }

  #rating-form {
    margin-bottom: 15px;

    label {
      display: block;
    }

  }

}

